" Config for IDEA vim plugin
" https://github.com/JetBrains/ideavim
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

"clipboard+=ideaput
"clipboard+=unnamed
"set clipboard=ideaput

" https://stackoverflow.com/questions/21250707/what-is-the-difference-between-quoteplus-and-quotestar-registers-in-vim
" The "+ register" is the vim equivalent to a CTRL+C in another program, while the "* register" is the "mouse selection and middle click" equivalent

" Example configs:
" https://github.com/JetBrains/ideavim/discussions/303
"
" Search for word boundaries: `\<`, `\>`

set clipboard=unnamedplus
set commentary

let mapleader=" "

" Reload this config
nmap <leader>vr <Action>(IdeaVim.ReloadVimRc.reload)

" Don't overwrite clipboard for "c ..." and "x" commands
nnoremap c "_c
nnoremap x "_x

" Delete line above/below
nnoremap <leader>d k"_dd
nnoremap <leader>D j"_ddk

" Comment out line
nmap <leader>/ gcc
vmap <leader>/ gcc

set highlightedyank
let g:highlightedyank_highlight_color = "rgba(200, 120, 200, 175)" 
let g:highlightedyank_highlight_duration = "1000" 

" delete to system clipboard
vnoremap d "+d
nnoremap da "+da
nnoremap di "+di

" yank to system clipboard
vnoremap y "+y
nnoremap yi "+yi
nnoremap ya "+ya
nnoremap y$ "+y$

" yank trimmed text inside line
nnoremap yl "+^y$
"nnoremap yt "+yt

noremap <C-c> "+y

" Scroll half-page up
nnoremap <C-e> <C-u>

" Go to next/previous capital letter
map <A-i> /[A-ZА-Я]<CR>
map ]a /[A-ZА-Я]<CR>
map [a ?[A-ZА-Я]<CR>

" Go to next/previous alphanum word
map <A-u> /[a-zA-Zа-яА-Я0-9]\+<CR>
map ]w /[a-zA-Zа-яА-Я0-9]\+<CR>
map [w ?[a-zA-Zа-яА-Я0-9]\+<CR>

" Delete word with space
nnoremap sd viwohdw

" Next/previous block of text
map <A-m> }}{j
map <A-n> {{j
map ]b }}{j
map [b {{j

" Next/previous class definition
map ]c /\<class\><CR>
map [c ?\<class\><CR>

" Next/previous class definition
map ]t /\<type\><CR>
map [t ?\<type\><CR>

" Next/previous `code` inside backticks
noremap ]` <Esc>/`<CR>n<Esc>vi`o
"noremap ]` <Esc>/`[^`]/+`<CR><Esc>lvi`
noremap [` <Esc>?`<CR>nhvi`

" temporary binding for testing 
noremap <leader>T hhh

" Search in Vue single find component for sections
nmap <leader>gs /^<script<CR>
nmap <leader>gt /^<template<CR>
nmap <leader>gc /^<style<CR>
nmap gs /^<script<CR>
nmap gt /^<template<CR>
nmap gc /^<style<CR>

