@-moz-document domain(mind42.com) {
	/** disable adblock at right */
	#container #sidebar {
		display: none !important;
	}
	#container #content {
		margin-right: 0 !important;
	}
}

@-moz-document domain(youtrack.orbilet.ru){
	input, textarea{
		color: #000 !important;
	}
}

@-moz-document domain(medium.com) {
    .js-stickyFooter.u-fixed {
        display: none;
    }
}

@-moz-document url-prefix(about:blank) {
  *{background-color:#000000;}
}

@-moz-document url("about:newtab") {
  body {
    background-color: #000 !important;
    color: #777 !important;
  }
  #snippets-container, .snippet section {
    background-color: #000 !important;
    color: #777 !important;
  }
  .card-outer {
    background-color: #0f0f0f !important;
  }
  .top-sites-list .top-site-outer > a {
    color: #999 !important;
  }
}

@-moz-document url-prefix(about:reader) {
  .toolbar.reader-toolbar{
    background-color: #333 !important;
    border-right: 2px solid #333 !important;
  }

  .toolbar.reader-toolbar .button:not(:hover) {
    background-color: #333 !important;
    border-right: 1px solid #111 !important;
    border-bottom: 1px solid #111 !important;
  }
}