/*.markdown-preview-view h1 {*/
    /*color: #FFF785;*/
/*}*/
/**/
/*.cm-header-1 {*/
    /*color: #FFF785;*/
/*}*/

.markdown-preview-view h2 {
    color: #F7F3BC;
}

.cm-header-2 {
    color: #F7F3BC;
}

.markdown-preview-view h3 {
    color: #a691d4;
}

.cm-header-3 {
    color: #a691d4;
}
