.inline-title {
    color: #17798F;
}

.markdown-preview-view h1 {
    color: #367064;
}

.cm-header-1 {
    color: #367064;
}

.markdown-preview-view h2 {
    color: #aaa;
}

.cm-header-2 {
    color: #b9b9b9;
}

.markdown-preview-view h3 {
    color: #a691d4;
}

.cm-header-3 {
    color: #a691d4;
}

.markdown-preview-view h4 {
    color: #F7F3BC;
}

.cm-header-4 {
    color: #F7F3BC;
}
