/** https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css&ssr=false#overview */
body {
  /* Doesn't work! */
  --vscode-font-size: 16px;
  /* font-size: 16px !important; */
}

/* html { */
/*   --vscode-font-size: 18px; */
/* } */
/**/
/* :root { */
/*   --vscode-font-size: 18px; */
/* } */

/** 
 * === Tabs bar ===
 */ 

.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a,
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a {
	font-size: 16px;
}

/** 
 * === File tree ===
 */ 

/**
 * File tree item suze increase,
 * JS patch required!
 * https://github.com/d9k/d9k-scripts/blob/master/vscode-patch-file-explorer-increase-item.sh
 */
.explorer-folders-view .explorer-item, 
.explorer-folders-view .editor-group {
    height: 32px !important;
    line-height: 32px !important;
    font-size: 16px !important;
    font-family: var(--vscode-editor-font-family);
}

.explorer-folders-view .explorer-item:before {
  height: 32px;
  width: 24px;
  background-size: 22px;  
}

/* * { */
/*   color: red !important;  */
/* } */
